# 파이썬 라이브러리

## NumPy(Numerical Python)
- 자료구조, 알고리즘 산술 데이터를 다루는 대부분의 과학 어플리케이션에서 필요한 라이브러리를 제공
- 다차원 배열 객체 ndarray, 배열 원소를 다루거나 배열 간의 수학 계산을 수행하는 함수, 디스크로부터 배열 기반의 데이터를 읽거나 쓸 수 있는 도구, 선형대수 계산, 푸리에 변환, 난수 생성기 등을 제공

## pandas
- 구조화된 데이터나 표 형식의 데이터를 빠르고 쉽게 다룰 수 있는 고수준의 자료구조와 함수를 제공
- ‘NumPy의 고성능, 배열 연산 아이디어’에 스프레드시트와 관계형 데이터베이스의 데이터 처리 기능을 결합
- 데이터 변형, 자르기, 취합, 부분 집합 등을 선택 가능

## matplotlib
- 그래프나 2차원 데이터 시각화를 생성하는 라이브러리
- 파이썬 생태계 내 다른 라이브러리들과 연동이 잘 되어 있음

# 주피터 노트북 편의 기능

## 탭 자동완성
- 코드 실행(Shift + Enter)
- 탭(Tap) 키를 통한 자동완성 기능 제공
- 셀에 입력 시 탭키를 누르면 변수(객체, 함수 등)를 자동으로 검색

## 자기관찰(introspection)
- 변수 이름 앞이나 뒤에 ?기호를 붙이면 그 객체에 대한 일반 정보를 출력

#  내장 자료구조, 함수, 파일

## 자료구조와 순차 자료형

### 튜플(Tuple)
- 1차원의 고정된 크기를 가지는 변경 불가능(immutable)한 순차 자료형
- 쉼표(,)를 사용하여 값을 대입

In [1]:
tuple([4, 0, 2]) # tuple() : 순차 자료형이나 이터레이터를 튜플로 변환

(4, 0, 2)

In [2]:
tup = tuple('string') # 문자열 string을 튜플로 변경
tup

('s', 't', 'r', 'i', 'n', 'g')

In [3]:
tup[0] # 첫 번째 데이터 출력

's'

### List
- 크기나 내용이 변경 가능한 컬렉션 데이터
- 대괄호([])나 list 함수를 사용하여 생성
- list의 첫 번째 번호는 0

In [4]:
list_a = [2, 3, 7, None, 'a'] # 여러 타입의 데이터를 저장 가능

In [5]:
tup_a = ('a', 'b', 'c')
list_b = list(tup_a) # list() : 특정 데이터를 리스트로 생성하는 메소드
list_b

['a', 'b', 'c']

In [6]:
list_b[1] = 'update' # 두 번째 데이터 변경
list_b

['a', 'update', 'c']

In [7]:
# 0 ~ 9까지의 데이터를 리스트로 변경
nums = range(10)
nums
list(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 리스트 원소 추가 삭제
- append : 리스트의 끝에 새로운 값 추가
- insert : 특정 위치에 값 추가
- pop : 특정 위치의 값을 반환하고 해당 리스트에서 삭제
- remove : 삭제할 원소 중 가장 앞에 있는 원소 삭제

In [8]:
list_b.append('d') # 4번째에 데이터 추가
list_b

['a', 'update', 'c', 'd']

In [9]:
list_b.insert(1, 'red') # 2번째에 데이터 추가
list_b

['a', 'red', 'update', 'c', 'd']

In [10]:
list_b.pop(2) # 3번째 데이터 삭제 및 삭제한 값 출력

'update'

In [11]:
list_b # 3번째 데이터 삭제됨

['a', 'red', 'c', 'd']

In [12]:
list_b.append('e') # 마지막 위치에 'e' 추가
list_b

['a', 'red', 'c', 'd', 'e']

In [13]:
list_b.remove('red') # 첫 번째 위치의 'red' 삭제
list_b

['a', 'c', 'd', 'e']

In [14]:
'e' in list_b # listB에 'e'가 포함되었는지 확인

True

In [15]:
'e' not in list_b # listB에 'e'가 포함되지 않았는지 확인

False

#### 리스트 연결
- 튜플과 동일하게 + 연산자를 사용하면 두 개의 리스트를 연결할 수 있음

In [16]:
[4, None, 'test'] + [7, 8, (2, 3)]

[4, None, 'test', 7, 8, (2, 3)]

#### 정렬
- sort 함수를 이용하여 리스트를 정렬

In [17]:
a = [7, 2, 5, 1, 3]
a.sort() # 기본적으로 오름차순으로 정렬
a

[1, 2, 3, 5, 7]

In [18]:
b = ['one', 'two', 'three', 'four', 'five']
b.sort(key=len) # key : 정렬 기준. key = len 문자열 길이 기준으로 정렬
b

['one', 'two', 'four', 'five', 'three']

#### 슬라이싱
- 리스트와 같은 자료형(배열, 튜플, ndarray)은 색인 연산자 [] 안에 start:stop을 지정하여 원하는 크기만큼 잘라낼 수 있음
- 변수이름[start:end:step]
- start 인덱스 이상부터, end 인덱스 미만까지 슬라이스
- start, end, step값은 생략 가능
- 음수는 리스트의 끝에서부터의 위치를 나타냄

In [19]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5] # 인덱스 1 ~ 4까지 리스트 슬라이스

[2, 3, 7, 5]

In [20]:
seq[3:4] = [6, 3] # 인덱스 3번에 [6, 3] 리스트 추가
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [21]:
seq[:5] # 인덱스 0부터 4까지 리스트 슬라이스

[7, 2, 3, 6, 3]

In [22]:
seq[3:] # 인덱스 3부터 리스트 끝까지 슬라이스

[6, 3, 5, 6, 0, 1]

In [23]:
seq[-4:] # 리스트 끝에서 오른쪽으로 4번째 인덱스부터 리스트 끝까지 슬라이스

[5, 6, 0, 1]

In [24]:
seq[-6:-2] # 리스트 끝에서 오른쪽으로 6번째 인덱스부터 끝에서 오른쪽으로 2번째까지 슬라이스

[6, 3, 5, 6]

In [25]:
seq[::2] # 2의 간격으로 슬라이스

[7, 3, 3, 6, 1]

In [26]:
seq[::-1] # 역순으로 슬라이스

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### dict
- 해시맵 또는 연관 배열이라고도 부름
- 크기 변경이 가능한 키-값 쌍 데이터 형태
- 변수이름 = {키1 : 값1, 키2 : 값2, ...}
- 키는 중복 불가능. 값은 중복 가능

In [27]:
empty_dict = {} # 사전 객체 생성
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]} # 키-값 형태로 데이터를 생성
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [28]:
# 리스트나 튜플처럼 데이터에 접근하거나 값을 추가할 수 있음
d1[7] = 'an integer' # d1의 마지막 위치에 키 = 7, 값 = 'an integer'를 저장
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [29]:
d1['b'] # d1 데이터 중 키d1['b']값이 'b' 인 데이터 값을 출력

[1, 2, 3, 4]

In [30]:
'b' in d1 # d1 데이터 중 키값이 'b'이 존재하는지 확인

True

In [31]:
d1[5] = 'some value' # 키-값 데이터 추가
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [32]:
d1['dummy'] = 'another value' # 키-값 데이터 추가
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [33]:
# del 키워드 : 키-값 데이터 삭제
del d1[5] # 키값이 5인 데이터 삭제
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [34]:
ret = d1.pop('dummy') # pop : 값을 반환하고 삭제
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [35]:
list(d1.keys()) # keys() : 모든 키 데이터를 반환

['a', 'b', 7]

In [36]:
list(d1.values()) # values() : 모든 값 데이터를 반환

['some value', [1, 2, 3, 4], 'an integer']

In [37]:
d1.update({'b' : 'foo', 'c' : 12}) 
# update() : 하나의 사전을 다른 사전과 병합. key 값이 중복될 경우 이전 값은 사라짐
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### set
- 집합(set)은 유일한 원소(중복되지 않는)만 담는 정렬되지 않는 자료형
- 사전과 유사하지만 값(value)는 없고 key만 존재
- set() 함수 또는 중괄호{}를 사용하여 생성

In [38]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3} # 중복된 데이터는 사라짐

{1, 2, 3}

In [39]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [40]:
a.union(b) # 합집합
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
a.intersection(b) # 교집합
a & b

{3, 4, 5}

In [42]:
c = a.copy() # copy() : 집합 데이터 리턴
c |= b # c에 c와 d의 합집합 데이터를 저장
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
d = a.copy()
d &= b # d에 d와 b의 교집합 데이터를 저장
d

{3, 4, 5}

In [44]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)} # tuple 데이터를 집합으로 변경
my_set

{(1, 2, 3, 4)}

In [45]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [46]:
{1, 2, 3} == {3, 2, 1}

True

### 리스트, 집합, 사전 표기법
- 리스트 표기법은 간결한 표현으로 리스트를 생성하는 파이썬 기능
- [expr for val in collection if condition]
- 이를 반복문으로 구현하면 아래와 같음

result = []
for val in collection:
    if condtion:
        result.append(expr)

In [47]:
# 문자열의 길이가 2 초과인 경우만 대문자로 변경하여 리스트 출력
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

## 함수
- 코드를 재사용하고 조직화하기 위한 수단
- 비슷한 코드가 한 번 이상 실행해야 할 경우 함수를 작성하는 것인 효율적
- def 키워드를 사용하여 정의하고 return 키워드를 사용하여 값을 반환
- def 함수이름(인자값1, 인자값2, ..) : return 변수(생략 가능)

In [48]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [49]:
my_function(5, 6)

16.5

In [50]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [51]:
my_function(3.14, 7, 3.5)

35.49

In [52]:
my_function(10, 20)

45.0